---

---

<section>
  <div class="mask">
    <img src="./profile.png" alt="profile" />
  </div>
</section>
<style>
  section {
    min-height: 60vh;
    width: 100%;
    background: hsl(0deg 0% 0% / 10%);
  }
  img {
    filter: drop-shadow(-1px -1px 0px black);
  }
  .mask {
    position: relative;
    width: 320px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background: bisque;
  }
</style>
