---

---

<footer>
  <p>
    <a href="https://www.facebook.com/">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/img-facebook.svg" alt="Facebook">
    </a>
    <a href="https://twitter.com/">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/img-twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.instagram.com/">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/img-instagram.svg" alt="Instagram">
    </a>
  </p>
</footer>
<style>
  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  footer a {
    color: #fff;
  }
  footer img {
    width: 2em;
    margin: 0 1em;
  }
</style>
