---

---

<section>
  <div class="card">
    <h1>
      Buscando una nueva casa?
    </h1>
    <h2>
      Venda o compre su casa con un agente de bienes raíces independiente que se enfoca en encontrar su hogar ideal
    </h2>
  </div>
  <img src="./house-2.jpeg" alt="house-1" />
</section>
<style>
  section {
    position: relative;
    height: calc(100vh - var(--header-height));
  }
  h1 {
    font-size: 5rem;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px white, 2px 2px black;
    text-align: left;
    line-height: 1;
    left: -6px;
    position: relative;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff;
    text-align: left;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .card {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
    padding: clamp(10px, 3vw, 60px);
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
    gap: 20px;
    background: linear-gradient(transparent, black);
    /* outline: 2px solid hsl(51, 100%, 50%, 0.4); */
  }
</style>
